---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} YangHao Blog. All rights reserved.</p>
	<p class="footer-note">Powered by Astro. Written by YangHao.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	p {
		margin: 0.35em 0;
	}
	.footer-note {
		font-size: 0.9em;
	}
</style>
